.checkbox-wrapper {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.checkbox-wrapper--styled {
	position: relative;
}

.checkbox-wrapper--styled input {
	height: 40px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 40px;
}

.checkbox-wrapper--styled label {
	display: block;
	padding: 12px 0 12px 48px;
}

.checkbox-wrapper--styled [type="checkbox"] + label::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
	left: 0;
}

.checkbox-wrapper--styled [type="checkbox"]:focus + label::before {
	box-shadow: 0 0 0 3px #ffbf47;
}

.checkbox-wrapper--styled [type="checkbox"] + label::after {
    content: "";
	border: 4px solid;
	border-left: 0;
	border-top: 0;
	background: transparent;
	height: 20px;
	left: 14px;
	opacity: 0;
	position: absolute;
	top: 6px;
	transform: rotate(45deg);
	transition: opacity 0.2s ease-in-out;
	width: 12px;
}

.checkbox-wrapper--svg [type="checkbox"] + label::after {
	border: 0;
	background-image: url("../img/check.svg");
	background-repeat: no-repeat;
	height: 20px;
	left: 10px;
	top: 10px;
	transform: rotate(0);
	width: 20px;
}

.checkbox-wrapper--styled [type="checkbox"]:checked + label::after {
	opacity: 1;
}
